{% extends "base.html" %} 

{% block custom_css %}
<!-- Bootstrap CSS -->
<link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/icons/font/bootstrap-icons.css" />
<link href="/static/css/forgot-password.css" rel="stylesheet" />
{% endblock %} 

{% block title %}
Forgot Password
{% endblock %}

{% block content %}
<div class="background">
</div>

<main class="main-grid place-items-center">
    {# Flashing message start here #}
    {% for message in get_flashed_messages(request) %}
        <div class="flash-{{ message.category }} bg-glass text-center">{{ message.message }}</div>
    {% endfor %}
    {# Flashing message end here #}
    
    <div class="forgot bg-glass">
        <form id="form" method="POST" action="/auth/forgot-password" onsubmit="return validate_input(this)" class="login-form row row-cols-1 align-items-center justify-content-center">
            <h1 class="col-12 display-3 text-center">Password Reset</h1>
            <p class="col-12  text-center">Please provide your username or email address</h1>


            <div class="col-12 row align-items-center justify-content-center">
                <label for="account" class="lead col-10 mb-2 form-label">Username or Email:</label>
                <input type="username" id="account" name="account" class="col-10 custom-form-control" onKeyUp="validate_input(this);" placeholder="JohnDoe2 | John@DreamySkySanctuary.com" required novalidate/>
                <div id="account_warning" class="warning-text text-end col-10 form-text mb-3" style="display:none"></div>
            </div>
        
            <button class="col-10 login-button-wrapper btn btn-primary">Reset Password</button>

            <p class="text-center">Rememberd your password? <a href="/login" class="custom-link">Log In Here</a></p>

        </form>
    </div>

    <script src="/static/js/auth/forgot-password.js"></script>
</main>
{% endblock %}
