{% extends "base.html" %} 

{% block custom_css %}
<!-- Bootstrap CSS -->
<link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/icons/font/bootstrap-icons.css">
<link href="/static/css/auth/reset-password.css" rel="stylesheet">
{% endblock %} 

{% block title %}
Reset Password
{% endblock %}

{% block content %}
<div class="background">
</div>

<main class="main-grid place-items-center">
    {# Flashing message start here #}
    {% for message in get_flashed_messages(request) %}
        <div class="flash-{{ message.category }} bg-glass text-center">{{ message.message }}</div>
    {% endfor %}
    {# Flashing message end here #}
    
    <div class="forgot bg-glass">
        <form id="form" onsubmit="return validate_input(this)" class="login-form row row-cols-1 align-items-center justify-content-center">
            <input id="token" style="display:none" value="{{ token }}" autocomplete="off" readonly="">
            <h1 class="col-12 display-3 text-center">Password Reset</h1>
            <p class="col-12  text-center">Please provide a new password</h1>


                <div class="col-12 row align-items-center justify-content-center">
                    <label for="password" class="lead col-10 mb-2 form-label">Password:</label>
                    <input type="password" id="password" name="password" class="col-10 custom-form-control" onKeyUp="validate_input(this); validate_input(document.getElementById('password_rep'));" placeholder="************" required>
                    <div class="show-password text-end col-10 form-text"><a onclick="showPassword(this);" class="custom-link" style="color: #000000c0"><i class="password_icon bi bi-eye-fill"></i></a></div>
                    <div id="password_warning" class="warning-text text-end col-10 form-text mb-3" style="display:none"></div>
                </div>
    
                <div class="col-12 row align-items-center justify-content-center">
                    <label for="password_rep" class="lead col-10 mb-2 form-label">Repeat Password:</label>
                    <input type="password" id="password_rep" name="password_rep" class="col-10 custom-form-control" onKeyUp="validate_input(this);" placeholder="************" required>
                    <div class="show-password text-end col-10 form-text"><a onclick="showPassword(this);" class="custom-link" style="color: #000000c0"><i class="password_icon bi bi-eye-fill"></i></a></div>
                    <div id="password_rep_warning" class="warning-text text-end col-10 form-text mb-4" style="display:none"></div>
                </div>
        
            <button class="col-10 login-button-wrapper btn btn-primary">Reset Password</button>

            <p class="text-center">Rememberd your password? <a href="/login" class="custom-link">Log In Here</a></p>

        </form>
    </div>

    <script src="/static/js/auth/reset-password.js"></script>
</main>
{% endblock %}
