FastAPI[all]
fastapi_utils
Uvicorn
Typing
Pydantic
jinja2
python-multipart
typing_inspect
discord
python-dotenv
hashids
shutils
audioop-lts
mysql-connector-python
loguru
fastapi_login
werkzeug
python-jose[cryptography]
pyotp
qrcode[pil]