{% extends "base.html" %}

{% block custom_css %}
<!-- Bootstrap CSS -->
<link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/icons/font/bootstrap-icons.css">
<link href="/static/css/team.css" rel="stylesheet">
{% endblock %}

{% block content %}    
<div class="background"></div>
<main class="main-grid">
  {% if team_data %}
    {% for role in team_data.keys() %}
      <div class="{{ role }} bg-glass">
        {{ team_data[role].2 }}
        {{ team_data[role].1 }}
        {% for user in team_data[role].0 %}
          <div class="{{ role }}-info user-info">
            <div class="{{ role }}-avatar user-avatar">
              <img src="{{ user.avatar }}" alt="{{ role }} Avatar">
            </div>
            <div class="{{ role }}-name">
              <h1>{{ user.display_name }}</h1>
              <h2>{{ user.username }}</h2>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  {% endif %}
</main>
{% endblock %}