@import url(/static/css/main/main.css);

.user-info {
    /* display: grid; */
    /* gap: 10px; */
    margin: 10px;
}

.user-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 40%;
}

.filler {
    height: 100px;
    grid-area: filler;
}

.fillertwo {
    height: 100px;
    grid-area: fillertwo;
}

.owner {
    grid-area: owner;
}

.celestial {
    grid-area: celestial;
}

.guardian {
    grid-area: guardian;
}

.tech {
    grid-area: tech;
}

.lumi {
    display: grid;
    grid-area: lumi;
    grid-template-areas: 
    'lumi-title'
    'lumi-left'
    'lumi-right';
}

.lumi-left {
    grid-area: lumi-left;
}

.lumi-right {
    grid-area: lumi-right;
}

.flash {
    grid-area: Flash;
}

.main-grid {
    grid-template-areas:
    'Flash     Flash' 
    'owner     celestial' 
    'guardian  lumi     ' 
    'tech      lumi     ';
    grid-template-columns: 50% 50%;
    gap: 12px;
}

@media (min-width: 1700px){
    .main-grid {
        grid-template-areas:
        'filler  Flash    Flash      Flash     fillertwo' 
        'filler  owner    celestial  tech      fillertwo' 
        'filler  lumi     lumi       guardian  fillertwo';
        grid-template-columns: auto 550px 550px 550px auto;
    }
    .lumi {
        grid-template-areas: 
        'lumi-title lumi-title'
        'lumi-left  lumi-right';
    }
} 

@media (min-width: 1240px) and (max-width: 1700px){
    .main-grid {
        grid-template-areas:
        'Flash    Flash      Flash'
        'owner    celestial  tech' 
        'lumi     lumi       guardian';
        grid-template-columns: auto auto auto;
    }
    .lumi {
        grid-template-areas: 
        'lumi-title lumi-title'
        'lumi-left  lumi-right';
    }
} 

@media (min-width: 900px) and (max-width: 1240px) {
    .main-grid {
        grid-template-areas:
        'Flash     Flash'
        'owner     celestial' 
        'guardian  lumi     ' 
        'tech      lumi     ';
        grid-template-columns: 50% 50%;
    }
} 

@media (min-width: 620px) and (max-width: 900px) {
    .main-grid {
        grid-template-areas:
        'filler  Flash     fillertwo'
        'filler  owner     fillertwo'
        'filler  celestial fillertwo' 
        'filler  guardian  fillertwo'
        'filler  tech      fillertwo'
        'filler  lumi      fillertwo' ;
        grid-template-columns: auto 600px auto;
    }
}

@media (min-width: 420px) and (max-width: 620px) {
    .main-grid {
        grid-template-areas:
        'filler  Flash     fillertwo'
        'filler  owner     fillertwo'
        'filler  celestial fillertwo' 
        'filler  guardian  fillertwo'
        'filler  tech      fillertwo'
        'filler  lumi      fillertwo' ;
        grid-template-columns: auto 400px auto;
    }
}

@media (max-width: 420px) {
    .main-grid {
        grid-template-areas:
        'Flash    '
        'owner    '
        'celestial' 
        'guardian '
        'tech     '
        'lumi     ' ;
        grid-template-columns: 100%;
    }
    .user-info {
        display: grid;
        gap: 10px;
        margin: 10px;
    }
    .user-avatar {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .user-name {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .user-name-text {
        text-align: center !important;
    }
}