@import url(/static/css/main.css);

.user-info {
    /* display: grid; */
    /* gap: 10px; */
    margin: 10px;
}

.user-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 40%;
}

.filler {
    height: 100px;
    grid-area: filler;
}

.fillertwo {
    height: 100px;
    grid-area: fillertwo;
}

.owner {
    grid-area: owner;
}

.celestial {
    grid-area: celestial;
}

.guardian {
    grid-area: guardian;
}

.tech {
    grid-area: tech;
}

.lumi {
    grid-area: lumi;
}

.main-grid {
    grid-template-areas:
    'owner    celestial' 
    'guardian lumi     ' 
    'tech     lumi     ';
    grid-template-columns: 50% 50%;
    gap: 12px;
}

/* @media (min-width: 1000px) and (max-width: 1200px) {
    .main-grid {
        grid-template-columns: auto 300px;
        grid-template-areas: 'Youtube Announcement' 'Us Announcement';
    }
} */

/* @media (min-width: 1200px) and (max-width: 1400px) {
    .main-grid {
        grid-template-columns: auto 450px;
        grid-template-areas: 'Youtube Announcement' 'Us Announcement';
    }
} */

@media (min-width: 1200px){
    .main-grid {
        grid-template-areas:
        'owner    celestial tech' 
        'lumi     guardian  filler' 
        'lumi     fillertwo filler';
        grid-template-columns: auto auto auto;
    }
} 

@media (min-width: 900px) and (max-width: 1200px) {
    .main-grid {
        grid-template-areas:
        'owner    celestial' 
        'guardian lumi     ' 
        'tech     lumi     ';
        grid-template-columns: 50% 50%;
    }
} 

@media (min-width: 800px) and (max-width: 900px) {
    .main-grid {
        grid-template-areas:
        'filler owner     fillertwo'
        'filler celestial fillertwo' 
        'filler guardian  fillertwo'
        'filler tech      fillertwo'
        'filler lumi      fillertwo' ;
        grid-template-columns: auto 70% auto;
    }
}

@media (min-width: 515px) and (max-width: 800px) {
    .main-grid {
        grid-template-areas:
        'filler owner     fillertwo'
        'filler celestial fillertwo' 
        'filler guardian  fillertwo'
        'filler tech      fillertwo'
        'filler lumi      fillertwo' ;
        grid-template-columns: auto 80% auto;
    }
}

@media (min-width: 470px) and (max-width: 515px) {
    .main-grid {
        grid-template-areas:
        'filler owner     fillertwo'
        'filler celestial fillertwo' 
        'filler guardian  fillertwo'
        'filler tech      fillertwo'
        'filler lumi      fillertwo' ;
        grid-template-columns: auto 90% auto;
    }
}

@media (min-width: 420px) and (max-width: 470px) {
    .main-grid {
        grid-template-areas:
        'owner    '
        'celestial' 
        'guardian '
        'tech     '
        'lumi     ' ;
        grid-template-columns: 100%;
    }
}

@media (max-width: 420px) {
    .main-grid {
        grid-template-areas:
        'owner    '
        'celestial' 
        'guardian '
        'tech     '
        'lumi     ' ;
        grid-template-columns: 100%;
    }
    .user-info {
        display: grid;
        gap: 10px;
        margin: 10px;
    }
    .user-avatar {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .user-name {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .user-name-text {
        text-align: center !important;
    }
}