{% extends "base.html" %}

{% block custom_css %}
<!-- Bootstrap CSS -->
<link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/icons/font/bootstrap-icons.css">
<link href="/static/css/upload.css" rel="stylesheet">
{% endblock %}

{% block title %}
Gallery - {{ gallery_code }}
{% endblock %}

{% block content %}
<div class="background">
</div>

<main class="main-grid">
    <div class="viewer bg-glass">
        <h2 class="text-center">Uploaded Images:</h2>
        <div class="text-center">
            <a target="_blank" href="/upload" class="custom-link">Upload more image(s)</a>
        </div>
        {% if images %}
        <div class="row row-cols-auto align-items-center justify-content-center text-center">  
            {% for image in images %}
            <div class="col-auto thumb-wrapper">
                <div class="thumb">
                    <a target="_blank" class="thumb-image" href="/image/{{ image.filename }}" style="background-image: url('{{ image.url }}');"></a>
                    {% if auth_code %}
                    <form class="remove" method="POST" action="{{ base_url }}/image/remove/{{ image.filename }}/{{ image.auth_code }}">
                    {% else %}
                    <form class="remove">
                    {% endif %}
                        <a target="_blank" href="/image/{{ image.filename }}" class="custom-hidden-link">
                            <p class="thumb-name">{{ image.filename }}</p>
                        </a>
                        <a target="_blank" href="/download/{{ image.filename }}" class="btn btn-success"><i class="bi bi-cloud-arrow-down"></i> Download</a>

                        {% if auth_code %}
                        <a target="_blank" href="/image/{{ image.filename }}/{{ image.auth_code }}" class="btn btn-primary"><i class="bi bi-eye"></i> View</a>
                        <a target="_blank" href="/image/{{ image.filename }}" class="btn btn-primary"><i class="bi bi-share-fill"></i></a>
                        <button action="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                        {% else %}
                        <a target="_blank" href="/image/{{ image.filename }}" class="btn btn-primary"><i class="bi bi-eye"></i> View</a>
                        <a target="_blank" href="/image/{{ image.filename }}" class="btn btn-primary"><i class="bi bi-share-fill"></i></a>
                        {% endif %}
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="gallery-wrapper row row-cols-1">
            <div class="col row">
                <label for="share_gal_btn" class="gallery-text col-md-2 col-sm-3">
                    Gallery Share Link:
                </label>
                <div class="gallery-code-col col">
                    <div class="gallery-code-wrapper">
                        <input id="share_gal_code" class="gallery-code" type="text" value="{{ base_url }}/gallery/{{ gallery_code }}" autocomplete="off" readonly="" onclick="this.select();">
                        <span class="gallery-copy">
                            <button id="share_gal_btn" type="button" class="gallery-copy-button input-btn btn btn-secondary" onclick="copyToClipboard('share_gal_code', this);">
                                <i class="bi bi-clipboard" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            {% if auth_code %}
            <div class="col row">
                <label for="manage_gal_btn" class="gallery-text col-md-2 col-sm-3">
                    Gallery Manage Link:
                </label>
                <div class="gallery-code-col col">
                    <div class="gallery-code-wrapper">
                        <input id="manage_gal_code" class="gallery-code" type="text" value="{{ base_url }}/gallery/{{ gallery_code }}/{{ auth_code }}" autocomplete="off" readonly="" onclick="this.select();">
                        <span class="gallery-copy">
                            <button id="manage_gal_btn" type="button" class="gallery-copy-button input-btn btn btn-secondary" onclick="copyToClipboard('manage_gal_code', this);">
                                <i class="bi bi-clipboard" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col row">
                <label for="remove_gal_btn" class="gallery-text col-md-2 col-sm-3">
                    Gallery Removal Link:
                </label>
                <div class="gallery-code-col col">
                    <div class="gallery-code-wrapper">
                        <input id="remove_gal_code" class="gallery-code" type="text" value="{{ base_url }}/gallery/remove/{{ gallery_code }}/{{ auth_code }}" autocomplete="off" readonly="" onclick="this.select();">
                        <span class="gallery-copy">
                            <button id="remove_gal_btn" type="button" class="gallery-copy-button input-btn btn btn-secondary" onclick="copyToClipboard('remove_gal_code', this);">
                                <i class="bi bi-clipboard" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% else %}
        <div>
            <h2 class="text-center">No Images Uploaded:</h2>
            <p class="text-center">There are no images uploaded at the moment. Please upload an image to view it <a href="/upload">here.</a></p>
        </div>
        {% endif %}
    </div>

    <script src="/static/js/main/image.js"></script>
</main>
{% endblock %}