<html>
    <head>
        <meta
            name="viewport"
            content="width=device-width; height=device-height;"
        />
        <link
            rel="stylesheet"
            href="resource://content-accessible/ImageDocument.css"
        />
        <link
            rel="stylesheet"
            href="resource://content-accessible/TopLevelImageDocument.css"
        />
        <title>{{ image.filename }}</title>
    </head>
    <body>
        <img
            src="{{ base_url }}{{ image.url }}"
            alt="{{ image.filename }}"
            class="transparent"
        />
    </body>
</html>
