@import url(/static/css/main.css);

.error {
    grid-area: Error;
}

.main-grid {
    display: grid;
    gap: 15px;
    padding: 10px;
    width: 98vw;
    grid-template-areas: 
        'Flash'
        'Error';
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .main-grid {
        grid-template-columns: auto;
        grid-template-areas: 
            'Flash'
            'Error';
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .main-grid {
        grid-template-columns: auto;
        grid-template-areas: 
            'Flash'
            'Error';
    }
}

@media (min-width: 1400px) {
    .main-grid {
        grid-template-columns: auto;
        grid-template-areas: 
            'Flash'
            'Error';
    }
}
