:root {
  --background_img: url(/public/imgs/bg_aeri.jpg);
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 6px;
}

.bg-glass {
  /* From https://css.glass */
  background: rgba(111, 172, 241, 0.603);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(141, 186, 242, 0.85);
  color: #f0f9ff;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100lvh;
  z-index: -999999;
  background: var(--background_img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: grey;
}

.youtube-iframe {
  margin: 12px 12px;
}

.youtube-iframe iframe {
  display: block;
  border-style: none;
}

@media (max-width: 750px) {
  .youtube-iframe {
    width: 93%;
  }
}

@media (min-width: 740px) {
  .youtube-iframe {
    width: 97%;
  }
}

.youtube {
  grid-area: Youtube;
}
.announcement {
  grid-area: Announcement;
}

.custom-link {
  text-decoration: none;
  opacity: 0.6;
  color: #fff;
}

.custom-link:hover {
  opacity: 1;
}

.custom-hidden-link {
  text-decoration: none;
  color: #fff;
} 

.us {
  grid-area: Us;
}

.main-grid {
  display: grid;
  gap: 15px;
  padding: 10px;
  width: 98vw;
  grid-template-areas: 'Youtube' 'Announcement' 'Us';
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .main-grid {
    grid-template-columns: auto 300px;
    grid-template-areas: 'Youtube Announcement' 'Us Announcement';
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .main-grid {
    grid-template-columns: auto 450px;
    grid-template-areas: 'Youtube Announcement' 'Us Announcement';
  }
}

@media (min-width: 1400px) {
  .main-grid {
    grid-template-columns: auto 600px;
    grid-template-areas: 'Youtube Announcement' 'Us Announcement';
  }
}
