.custom-nav-text {
    text-decoration: none;
    opacity: 1;
    color: #fff;
    font-size:1.5rem;
}

.custom-nav-item {
    text-decoration: none;
    opacity: 1;
    color: #ffffffcc;
}

@media (min-width: 315px) {
    main {
        margin-top: 57px;
    }
}

@media (min-width: 260px) and (max-width: 315px) {
    main {
        margin-top: 95px;
    }
}

@media (min-width: 150px) and (max-width: 260px) {
    main {
        margin-top: 132px;
    }
}

@media (max-width: 150px) {
    main {
        margin-top: 168px;
    }
}