{% extends "base.html" %} 

{% block custom_css %}
<!-- Bootstrap CSS -->
<link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/icons/font/bootstrap-icons.css">
<link href="/static/css/error/error.css" rel="stylesheet">
{% endblock %} 

{% block title %}
{{ phrase }}
{% endblock %}

{% block content %}
<div class="background">
</div>

<main class="main-grid">
    {# Flashing message start here #}
    {% for message in get_flashed_messages(request) %}
        <div class="flash-{{ message.category }} bg-glass text-center">{{ message.message }}</div>
    {% endfor %}
    {# Flashing message end here #}
    <div class="error bg-glass">
        <h1 class="display-6 text-center">An Error Has Occured</h1>
        <h1 class="display-1 text-center">{{ code }}: {{ phrase }}</h1>
        <p class="lead text-center">{{ description }}</p>
        <p class="lead text-center"><a href="/" class="custom-link">Return to Home</a></p>
    </div>
</main>
{% endblock %}