<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} {% endblock %}</title>

        <!-- Meta tags -->
        <link rel="icon" type="image/x-icon" href="/public/imgs/favicon.ico">
        {% block custom_meta %}
            <!-- Required Meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        <!-- Custom CSS -->
        {% block custom_css %} 
            <!-- Bootstrap CSS -->
            <link href="/static/css/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" href="/static/icons/font/bootstrap-icons.css">
        {% endblock %}
        {% block header_css %} {% endblock %}
        {% block footer_css %} {% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        <!-- Navbar -->
        {% include "attributes/header.html"%}

        <!-- Main content -->
        {% block content %} 
            
        {% endblock %}

        <!-- Footer -->
        {% include "attributes/footer.html"%}

        <!-- Custom JS -->
        {% block custom_js %} 
            <!-- Bootstrap JS -->
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
            <script src="/static/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>